@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=devanagari,latin-ext');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800&display=swap');
*{
    font-family:'Nunito Sans', sans-serif;
    color: #fff;
}
body {
    width: 100%;
	background: var(--dark-blue);
    font-family: 'Poppins', sans-serif;
	font-size: 17px;
	line-height: 30px;
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear; 
}
@keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .gradient {
    position: absolute;
    --size: 250px;
    --speed: 50s;
    --easing: cubic-bezier(0.8, 0.2, 0.2, 0.8);
    width: var(--size);
    height: var(--size);
    filter: blur(calc(var(--size) / 5));
    background-image: linear-gradient(rgba(55, 235, 169, 0.85), #5b37eb);
    animation: rotate var(--speed) var(--easing) alternate infinite;
    border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
    z-index: -999;
  }
  
  @media (min-width: 720px) {
    .gradient {
      --size: 500px;
    }
  }
  body {
    background-color: rgb(27, 27, 51);
    position: absolute;
    inset: 0;
    display: flex;
    place-content: center;
    align-items: center;
    overflow: hidden;
  }
:root{
    --h1-size :2rem;
    --h2-size :1.4rem;
    --h3-size :1.2rem;
    --p-size  :0.9rem;
    --white: #ffffff49;
	--light: #f0eff3;
	--black: #000000;
	--dark-blue: #1f2029;
	--dark-light: #353746;
	--red: #da2c4d;
	--yellow: #f8ab37;
	--grey: #ecedf3;
}
.quiz-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-content: center;
    gap: 6%;
}
.quiz-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 80%;
    font-size: var(--h2-size);
}
.quiz-info .count{
    display: none;
}
.quiz-area h2{
    font-size: var(--h1-size);
    font-weight: 800;
}

.answers-area {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 30px;
	text-align: center;
	gap: 1.5rem;
}
.answers-area .answer{
    font-size: var(--h2-size);
    font-weight: 600;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 15px;
	border:1px solid #ffffff3d;
	border-radius: 0.7rem;
	transition: 300ms ease-in-out;
}
.answers-area .answer:hover{
	background: #ffffff3d;
	border-radius: 0.7rem;
}
.answers-area .answer input[type="Radio"] {
    display: none;
}
.answers-area .answer input[type="Radio"]:checked + label{
    color: #7fd8ae;
}
.answers-area .answer label{
	cursor: pointer;
	font-weight: bold;
	color: #ffffff;
	margin-left: 5px;
	position: relative;
	top: -1px;
}
.bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    width: 80%;
    font-size: var(--h2-size);
}
.submit-button {
	cursor: pointer;
	display: inline-block;
	padding: 12px 24px;
	border: 1px solid #7fd8ae;
	border-radius: 4px;
	transition: all 0.2s ease-in;
	position: relative;
	overflow: hidden;
	font-size: 19px;
	color: #7fd8ae;
	z-index: 1;
	background: #f0ffff00;
   }
   
   .submit-button:before {
	content: "";
	position: absolute;
	left: 50%;
	transform: translateX(-50%) scaleY(1) scaleX(1.25);
	top: 100%;
	width: 140%;
	height: 180%;
	background-color: rgba(0, 0, 0, 0.05);
	border-radius: 50%;
	display: block;
	transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
	z-index: -1;
   }
   
   .submit-button:after {
	content: "";
	position: absolute;
	left: 55%;
	transform: translateX(-50%) scaleY(1) scaleX(1.45);
	top: 180%;
	width: 160%;
	height: 190%;
	background-color: #39bda7;
	border-radius: 50%;
	display: block;
	transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
	z-index: -1;
   }
   
   .submit-button:hover {
	color: #ffffff;
	border: 1px solid #7fd8ae;
   }
   
   .submit-button:hover:before {
	top: -35%;
	background-color: #7fd8ae;
	transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
   }
   
   .submit-button:hover:after {
	top: -45%;
	background-color: #7fd8ae;
	transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
   }
.quiz-app .bottom .bullets {
    border-top: 1px solid #dfdfdf;
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.quiz-app .bottom .bullets .spans{
	flex: 1;
	display: flex;
}
.quiz-app .bottom .bullets .spans span{
	width: 20px;
	height: 20px;
	background-color: #ddd;
	margin-right: 5px;
	border-radius: 50%;
}
.quiz-app .bottom .bullets .spans .on{
	background-color: #39bda7;
}
.quiz-app .results span{
  font-weight: bold;
}
.quiz-app .results span.bad{
  color: #dc0a0a;
}
.quiz-app .results span.good{
  color: #c5772e;
}
.quiz-app .results span.perfect{
  color: #7fd8ae;
}

  
@media screen and (max-width: 720px) {
  * {
    text-align: center;
  }  
  .quiz-app {
    gap: 3%;
  }
  .answers-area {
    display: flex;
    text-align: center;
    flex-direction: column;
  }
  .bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
  }
}









